<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Management - NEU</title>

    <!-- Link to external CSS file -->
    <!-- My css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='mystyle/styles.css') }}"
    />
    <!-- Css Bootstrap -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"
    />
  </head>

  <body>
    <h1>NEU Student Management</h1>
    <hr />
    <nav>
      <a href="{{ url_for('students.home') }}">Trang chủ</a>
      <a href="{{ url_for('students.list_student') }}">Danh sách sinh viên</a>
    </nav>

    <!-- Main content -->
    <main class="content">{% block content %} {% endblock %}</main>

    <!-- Footer -->
    <footer>
      <hr />
      <p>&copy; 2025 NEU</p>
    </footer>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.js') }}"></script>
  </body>
</html>
