{% extends "base.html" %}
{% block content %}

<h2>Instructor Information</h2>

<!-- Search form -->
<div class="mb-3">
    <form class="d-flex" method="POST" action="{{ url_for('students.search_instructors') }}">
        <input class="form-control me-2" type="search" placeholder="ID" name="instructor_id">
        <input class="form-control me-2" type="search" placeholder="Name" name="name">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>

<div class="m-3 d-grid gap-2">
    <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalAddStudent">+ Add
        instructor</button>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!-- Instructor table -->
{% for instructor in instructors %}
<div class="card mb-3 w-100">
    <div class="row g-0">
        <div class="col-md-2 p-3 ms-5">
            <img src="{{ url_for('static', filename='images/instructors/1.jpg') }}" alt="NEU logo"
                class="img-fluid rounded-start">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title"> <span class="fw-bold">Instructors:</span> {{instructor.full_name}}
                </h5>
                <p class="card-text">
                    <span class="fw-bold">ID:</span> {{ instructor.instructor_id }}
                </p>
                <p class="card-text">
                    <span class="fw-bold">Email:</span> {{ instructor.email }}
                </p>

                <p class="card-text">
                    <span class="fw-bold">Specialization:</span> {{ instructor.specialization }}
                </p>

                <p class="card-text">
                    <span class="fw-bold">Office Location:</span> {{ instructor.office_location }}
                </p>
                <p class="card-text"><small class="text-body-secondary">Last updated {{ instructor.updated_at }}</small>
                </p>
            </div>
        </div>
        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center ms-auto">
            <button type="button" class="btn btn-success btn-more m-2" style="width: 100px" data-bs-toggle="modal"
                data-bs-target="#modalEditInstructors" data-id="{{ instructor.instructor_id }}"
                data-name="{{ instructor.full_name }}" data-email="{{ instructor.email }}"
                data-specialization="{{ instructor.specialization }}"
                data-office-location="{{ instructor.office_location }}" id="btnSaveInstructor">
                Edit
            </button>
            <button type="button" class="btn btn-danger btn-more m-2" style="width: 100px;" data-bs-toggle="modal"
                data-bs-target="#modalDeleteInstructor" data-id="{{ instructor.instructor_id }}">
                Delete
            </button>
        </div>
    </div>
</div>
{% endfor %}

<!-- Modal1: Edit -->
<div class="modal fade" id="modalEditInstructors" tabindex="-1" aria-labelledby="modalEditInstructorsLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditInstructorsLabel">Edit Information</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label>ID: <input type="text" id="update-id" readonly></label><br>
                <label>Họ tên: <input type="text" id="update-name"></label><br>
                <label>Email: <input type="email" id="update-email"></label><br>
                <label>Specialization: <input type="text" id="update-specialization"></label><br>
                <label>Office Location: <input type="text" id="update-office-location"></label><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btnSaveInstructor">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal2: Delete -->
<div class="modal fade" id="modalDeleteInstructor" tabindex="-1" aria-labelledby="modalDeleteInstructorLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalDeleteInstructorLabel">Remove Instructor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this instructor?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    id="btnConfirmDeleteInstructor">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal3: Add Instructor Form -->
<div class="modal fade" id="modalAddStudent" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Instructor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form id="addStudentForm" role="addstudent" method="POST"
                action="{{ url_for('students.add_new_instructor') }}">
                <div class="modal-body">
                    <!-- Name -->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputGrid" placeholder="Full Name"
                            name="new_in" required>
                        <label for="floatingInputGrid">Full Name</label>
                    </div>
                    <!-- Email -->
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com"
                            name="new_ie" required>
                        <label for="floatingInputGrid">Email (name@example.com)</label>
                    </div>
                    <!-- Specialization -->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputGrid" placeholder="name@example.com"
                            name="new_is" required>
                        <label for="floatingInputGrid">Specialization</label>
                    </div>
                    <!-- Location Office -->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputGrid" placeholder="name@example.com"
                            name="new_il" required>
                        <label for="floatingInputGrid">Location Office</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="submit">Add Instructor</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}